
  <!-- Services Section -->
  <br/><br/><br/><br/><br/>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel Packing List Generator</h2>
                    <h3 class="section-subheading text-muted">Enter your details below.</h3>
                </div>
            </div>
            <!--<div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>-->
    </section>
    
    <section id="country_and_duration">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session) do |f| %>
      
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control', placeholder: "Insert automated, dropdownlist of cities" %>

      <%= f.label :duration %>
      <%= f.text_field :duration, class: 'form-control', placeholder: 'Insert a Calendar tag here' %>
      <br/>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      
      <% end %>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid Section -->
  
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
