<%
@dynamic_bg = "background:
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  url(https://farm#{@farmId}.staticflickr.com/#{@serverId}/#{@id}_#{@secretId}_b.jpg)  center fixed;"
%>

<div id="owl-example" class="owl-carousel">
  <div><% image_tag "https://farm#{@farmId}.staticflickr.com/#{@serverId}/#{@id}_#{@secretId}_b.jpg" %></div>
  <div><% image_tag "https://farm#{@farmId}.staticflickr.com/#{@serverId}/#{@id}_#{@secretId}_b.jpg" %></div>
  <div><% image_tag "https://farm#{@farmId}.staticflickr.com/#{@serverId}/#{@id}_#{@secretId}_b.jpg" %></div>
  <div><% image_tag "https://farm#{@farmId}.staticflickr.com/#{@serverId}/#{@id}_#{@secretId}_b.jpg" %></div>
</div>


<div class="col s12 center-align">
  <br/>
  <h2 class="">Weather Forecast Generated</h2>
  <h4 class="">Check the information below!</h4>
  <br/>
</div>


<div style="<%=@dynamic_bg%>" class="module-background white-text row">
    <div class="center-align">
      <h4>The Weather Today <%=Date.today%>  <%= image_tag "http://openweathermap.org/img/w/#{@weatherIcon2}.png" %> For:</h4>
      <%= @city %>
      <br/>
      <% image_tag "https://farm#{@farmId}.staticflickr.com/#{@serverId}/#{@id}_#{@secretId}_b.jpg" %>
      <br/>
      <h4>Season</h4>
      <%= @season%>
      <h4>Average temperature</h4>
      <%= @displayString %>
      <br/>
      <h4>Minimal temperature</h4>
      <%= @displayString2%>
      <br/>
      <h4>Maximum temperature</h4>
      <%= @displayString3%>
    </div>
  </div>

  <div class="clearer"></div>

</div>
  <div class="row">
    <div class="col s12 l12 grey lighten-3 text-center">
      <h4>The Weather Forecast For Next Two Weeks (Average Temperature Only): </h4>
      <%= @city + " " + @lat_long.to_s %>
      <br/>

      <div class="row">
      <% @displayForecastArray.each_with_index do |w, index|%>
      <div class="col s12 m6 l3">
        <h5>Day: <%=Date.today+(index+1).days%></h5>
         <%= w.to_s+'°C' %>
      </div>
     <% break if index == @num_of_days%>
      <% end %>
    </div>

    </div>
  </div>

  <div class="row center-align">
    <h3> Items to bring for <%= @season%> weather</h3>
    <ul>
      <% @itemList.to_a.each do |i|%>
      <li>
        <h5>
        <%= i %>
        </h5>
      </li>
      <% end %>
    </ul>
  </div>
