
<div class="container">
  
<div class="col s12 center-align">
  <h2 class="section-heading">Weather Forecast Generated</h2>
  <h4 class="section-subheading text-muted">Check the information below!</h4>
  <br/>
</div>


  <div class="row">
    <div class="center-align">
      <h4>The Weather Today <%=Date.today%> For:</h4>
      <%= @city %>
      <br/>
      <h4>Season</h4>
      <%= @season %>
      <h4>Average temperature</h4>
      <%= @displayString %>
      <br/>
      <h4>Minimal temperature</h4>
      <%= @displayString2%>
      <br/>
      <h4>Maximum temperature</h4>
      <%= @displayString3%>
    </div>
  </div>

  <br/>
</div>
  <div class="row">
    <div class="col s12 l12 grey lighten-3 text-center">
      <h4>The Weather Forecast For Next Two Weeks (Average Temperature Only):</h4>
      <%= @city %>
      <br/>

      <div class="row">
      <% @displayForecastArray.each_with_index do |w, index|%>
      <div class="col s3">
        <h5>Day: <%=Date.today+(index+1).days%></h5>
         <%= w.to_s+'°C' %>
      </div>
     <% break if index == 13%>
      <% end %>
    </div>

    </div>
  </div>
