<div class="col-lg-12 text-center">
  <h2 class="section-heading">Weather Forecast Generated</h2>
  <h3 class="section-subheading text-muted">Check the information below!</h3>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h3>The Weather Today <%=Date.today%> For:</h3>
      <%= @city %>
      <br/>
      <h3>Average temperature</h3>
      <%= @displayString %>
      <br/>
      <h3>Minimal temperature</h3>
      <%= @displayString2%>
      <br/>
      <h3>Maximum temperature</h3>
      <%= @displayString3%>
    </div>
  </div>
  
  <br/>
  
  <div class="row jumbotron">
    <div class="text-center">
      <h3>The Weather Forecast For Next Two Weeks (Average Temperature Only):</h3>
      <%= @city %>
      <br/>
      
      <div class="row">
      <% @displayForecastArray.each_with_index do |w, index|%>
      <div class="col-md-3">
        <h3>Day: <%=Date.today+(index+1).days%></h3>
         <%= w.to_s+'°C' %>
      </div>
     <% break if index == 13%>
      <% end %>
    </div>
      
    </div>
  </div>
</div>
