<div class="user--show">
  <div class="row">
    <aside class="col s12 m3 l3">
      <div class="col s3 m12 l12">  <%=  gravatar_for(@user) %></div>
      <div class="col s9 m12 l12"><h5> <%= @user.first_name %> <%= @user.last_name%></h5> 
       <%= @user.email %>
       <br/><%= @user.bio %> </div>
    </aside>

  <div id="user--lists" class="col s12 m9 l9">
    <div style="font-size:2rem;"> Lists</div>
    
    <ul class="collapsible" data-collapsible="expandable">
   <li>
     <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
     <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
   </li>
   <li>
     <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
     <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
   </li>
   <li>
     <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
     <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
   </li>
 </ul>
 
  </div>
  
  </div>
</div>