<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Season:</strong>
  <%= @item.season %>
</p>

<p>
  <strong>Itemtype:</strong>
  <%= @item.itemType %>
</p>

<p>
  <strong>Mintemp:</strong>
  <%= @item.minTemp %>
</p>

<p>
  <strong>Maxtemp:</strong>
  <%= @item.maxTemp %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
