<div class="navbar-fixed">
  <nav class="blue lighten-1">
    <div class="nav-wrapper">
      <a href="<%= traversal_home_path%>" class="brand-logo center">Traversal</a>
      <a href="#" data-activates="mobile-traversal" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="<%= traversal_home_path%>">Home</a></li>
        <li><a href="<%= traversal_about_us_path%>">About Us</a></li>
        <li><a href="<%= traversal_contact_us_path%>">Contact Us</a></li>
      </ul>
      <ul class="side-nav" id="mobile-traversal">
        <li class="active"><a href="<%= traversal_home_path%>">Home</a></li>
        <li><a href="<%= traversal_about_us_path%>">About Us</a></li>
        <li><a href="<%= traversal_contact_us_path%>">Contact Us</a></li>
      </ul>
      
    </div>
  </nav>
</div>