<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Important Owl stylesheet -->
<link rel="stylesheet" href="app/assets/stylesheets/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="app/assets/stylesheets/owl.theme.css">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag 'favicon.ico'%>
  <title><%= !@html_title.blank? ? @html_title  : "Traversal" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/enm1ixs.js"></script>
  <script src="jquery-1.9.1.min.js"></script>
  <script src="app/assets/javascripts/owl.carousel.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <% if !@team_page %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/team_header' %>
  <% end %>
   <%= render 'layouts/messages' %>
  <%= yield %>
</body>
<footer>
<script>
  $(document).ready(function(){
    // Initialize collapse button
  $(".button-collapse").sideNav();
  $('.slider').slider({full_width: true});
 });
 </script>
</footer>
<%= debug(params) if Rails.env.development? %>
</html>
