<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag 'favicon.ico'%>
  <title><%= !@html_title.blank? ? @html_title  : "Traversal" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !@team_page %>
    <%= render 'layouts/header' %>
  <% else %>
    <%= render 'layouts/team_header' %>
  <% end %>
  
  <%= yield %>
  

</body>
<footer>
<script>
  $(document).ready(function(){
    // Initialize collapse button
 $(".button-collapse").sideNav();
 
 });
 </script>
</footer>
</html>
